#top{
    background-color:beige;
    color: rgb(130, 21, 21);
    padding: 20px;
}

#main_content{
    color: grey;
    background-color: #efefef;
}

h1, h2, h3, h4,p, li{
    font-family:  BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a{
    color:#4AF266
}