#top{
    background-color:beige;
    color: rgb(130, 21, 21);
    border-bottom: 1px solid;
}

#main_content{
    color: grey;
    background-color: #efefef;
    margin:#efefef;
    margin:-10px;
    padding:20px;
}

h1, h2, h3, h4,p, li{
    font-family:  BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a{
    color:#4AF266
}

#imageofme{
    border-radius: 50%;
    border: solid, white;
    height: 350px;
    
    
}
 