#main_content {

    background-color: #efefef;
    margin: #efefef;
    margin: -10px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
p,
li,
a {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
}

h1 {
    font-size: 2.5em;
}

a {
    color: limegreen;
}

#imageofme {
    border-radius: 50%;
    width: 250px;
    position: relative;
    padding: 10px;
    height: 250px;
    
    left: 10px;
    top: 0px;



}

#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #385ba9;

}

#navbox1 {

    padding: 10px;
}

#navbox2 {
    padding: 10px;



}

#navbox3 {
    padding: 10px;

}

#span {
    background-color: #385ba9;
}



#back-to-top>button {
    background-color: rgb(198, 156, 78);
    border-radius: 50%;
    border: solid 1px rgb(198, 156, 78);
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: whitesmoke;
    position: fixed;
    bottom: 80px;
    right: 80px;
}

#header {
    display: flex;
   
}

#my_name {

    position: relative;
    top: 20pxpx;

}